body {
  height: 100px;
  background-color: rgb(6, 86, 236);
  color: rgb(255, 255, 255);
}
.container {
  display: flex;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
}
.hi {
  color: rgb(255, 255, 255);
}

.texts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 80px;
}
.texts2 {
  max-width: 50%;
}
.texts2 p {
  margin-bottom: 15px;
}
.texts2 h1 {
}
